@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  
  
  height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  display: flex;
            align-items: center;
            justify-content: center;
}

.bgTealBlueGradient{
  background: linear-gradient(to bottom right, #20f7f7, #0179e9);
}

.bgYellowGrayGradient{
  background: linear-gradient(to bottom right, #ffb900, #eaeaea);
}

.bg-topleft-teal {
  background-color: #00c1c1;
}

.bg-topleft-yellow {
  background-color: #ffb900;
}

.bg-bottomright-white {
  background-color: #ffffff;
}



.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 12rem 4rem;
}

.hero2 {
  height: 300px;
  background-image: radial-gradient(circle at 100% 150%, #5f72bd 0%, #9b23ea 80%, #ffb900 100%),
  linear-gradient(to right, #d9afd9 0%, #97d9e1 100%);
  background-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero3 {
  height: 300px;
  background-image: radial-gradient(circle at 100% 150%, #5f72bd 0%, #eaeaea 80%, #ffb900 100%);
  background-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubblesBg{
  background-image: url(/public/bubbles.svg);
}

.mosqueBg{
  background-image: url("../../public/mosque.vector.1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.prayerTimePage{
  top:-2%;
}

.pt-pb-point2{
  padding-top: 0.2em; padding-bottom: 0.2rem
}

.w-h-point4rem{
  width: 0.4rem; height: 0.4rem
}

.donateBg{
  background-image: url("../../public/glassjar.donate.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.angledBgPaleGreen{
  background-image: linear-gradient(196deg, #cff7e6 70%, #F4F4F4 calc(70% + 2px));
}

.angledBgPaleGray{
  background-image: linear-gradient(196deg, #eaeaea 70%, #F4F4F4 calc(70% + 2px));
}

.angledBgDarkTeal{
  background-image: linear-gradient(196deg, #125050 70%, #333 calc(70% + 2px));
}

.paymentCard:hover{
  background-image: linear-gradient(196deg, #5ec2ba 70%, #F4F4F4 calc(70% + 2px));
  color: #125050;
  border:1px solid #00c1c1;
  transition: 0.5s;
}

.bgBlack{
  background: rgb(19, 19, 19);
    color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.basic-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.photo-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 270px;
}

.bgSlide{
  background-image: url("../../public/Fadliga.Ramadaanka.jpeg");
  
}

.bgSlideTall{
  background-image: url("../../public/FiqhOfRamadan.jpeg");
  
}

.bgSlideWide{
  background-image: url("../../public/LeadersOfTomorrow.png");
  
}

.animated-grid {
  height: 85vh;
  margin-bottom: 200px;

  display: grid;
  gap: 1rem;

  /* Explicit grid */
  grid-template-areas:
    'a  b  c  d'
    'l  🌟 🌟 e'
    'k  🌟 🌟 f'
    'j  i  h  g';

  grid-template-rows: repeat(4, 25%);
  grid-template-columns: 240px auto auto 240px;

  --stagger-delay: 100ms;
}

@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

.card1 {
  background-color: rgb(36, 243, 147);
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}

.card1:nth-child(1) {
  grid-area: a;
  animation-delay: calc(1 * var(--stagger-delay));
}
.card1:nth-child(2) {
  grid-area: b;
  animation-delay: calc(2 * var(--stagger-delay));
}
.card1:nth-child(3) {
  grid-area: c;
  animation-delay: calc(3 * var(--stagger-delay));
}
.card1:nth-child(4) {
  grid-area: d;
  animation-delay: calc(4 * var(--stagger-delay));
}
.card1:nth-child(5) {
  grid-area: e;
  animation-delay: calc(5 * var(--stagger-delay));
}
.card1:nth-child(6) {
  grid-area: f;
  animation-delay: calc(6 * var(--stagger-delay));
}
.card1:nth-child(7) {
  grid-area: g;
  animation-delay: calc(7 * var(--stagger-delay));
}
.card1:nth-child(8) {
  grid-area: h;
  animation-delay: calc(8 * var(--stagger-delay));
}
.card1:nth-child(9) {
  grid-area: i;
  animation-delay: calc(9 * var(--stagger-delay));
}
.card1:nth-child(10) {
  grid-area: j;
  animation-delay: calc(10 * var(--stagger-delay));
}
.card1:nth-child(11) {
  grid-area: k;
  animation-delay: calc(11 * var(--stagger-delay));
}
.card1:nth-child(12) {
  grid-area: l;
  animation-delay: calc(12 * var(--stagger-delay));
}
.card1:last-child {
  grid-area: 🌟;
  animation-delay: calc(13 * var(--stagger-delay));
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto;
  }

  .card-wide {
    grid-column: span 2 / auto;
  }
}