@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  
  
  height: 300px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  display: flex;
            align-items: center;
            justify-content: center;
}

.bgTealBlueGradient{
  background: linear-gradient(to bottom right, #20f7f7, #0179e9);
}

.bgYellowGrayGradient{
  background: linear-gradient(to bottom right, #ffb900, #eaeaea);
}

.bg-topleft-teal {
  background-color: #00c1c1;
}

.bg-topleft-yellow {
  background-color: #ffb900;
}

.bg-bottomright-white {
  background-color: #ffffff;
}



.container {
  max-width: 1536px;
  margin: 0 auto;
  padding: 12rem 4rem;
}

.hero2 {
  height: 300px;
  background-image: radial-gradient(circle at 100% 150%, #5f72bd 0%, #9b23ea 80%, #ffb900 100%),
  linear-gradient(to right, #d9afd9 0%, #97d9e1 100%);
  background-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero3 {
  height: 300px;
  background-image: radial-gradient(circle at 100% 150%, #5f72bd 0%, #eaeaea 80%, #ffb900 100%);
  background-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubblesBg{
  background-image: url(/public/bubbles.svg);
}

.mosqueBg{
  background-image: url("../../public/mosque.vector.1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.prayerTimePage{
  top:-2%;
}

.pt-pb-point2{
  padding-top: 0.2em; padding-bottom: 0.2rem
}

.w-h-point4rem{
  width: 0.4rem; height: 0.4rem
}

.donateBg{
  background-image: url("../../public/glassjar.donate.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.angledBgPaleGreen{
  background-image: linear-gradient(196deg, #cff7e6 70%, #F4F4F4 calc(70% + 2px));
}

.angledBgPaleGray{
  background-image: linear-gradient(196deg, #eaeaea 70%, #F4F4F4 calc(70% + 2px));
}

.angledBgDarkTeal{
  background-image: linear-gradient(196deg, #125050 70%, #333 calc(70% + 2px));
}

.paymentCard:hover{
  background-image: linear-gradient(196deg, #5ec2ba 70%, #F4F4F4 calc(70% + 2px));
  color: #125050;
  border:1px solid #00c1c1;
  transition: 0.5s;
}